body {
  min-width: 320px;
  font-family: "Roboto", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: $font-size-main;
  line-height: 16px / $font-size-main;
  font-weight: 700;
  font-style: normal;
  color: $color-main-text;
  background-color: $color-main-background;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 37px;
  border: 1px solid $color-input;

  &:focus {
    border-color: $color-button-secondary-background;
    outline: none;
  }

  // &:valid {
  //   border-color: $color-input;
  // }
}
