body {
  min-width: 320px;
  font-family: "OpenSans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  font-size: $font-size-main;
  line-height: 24px / $font-size-main;
  font-weight: 400;
  font-style: normal;
  color: $color-main-text;
  background-color: $color-main-background;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
