// colors
$color-main-background: #E5E5E5;
$color-modal-background: #FFFFFF;
$color-grey-lighter-background: #f9f9f9;
$color-button-background: #558CB7;
$color-button-secondary-background: #82B3D9;
$color-main-text: #000000;
$color-invert-text: #FFFFFF;
$color-secondary-text: #333333;
$color-default: #777777;
$color-error: #9F2B11;
$color-right: #007B1B;
$color-input: #DDDDDD;


//fonts
$font-size-big: 24px;
$font-size-main: 14px;
$font-size-small: 12px;


//width
$width-tablet: 768px;
$width-desktop: 1150px;
$width-only-mobile: 767px;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// mixins
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@mixin centering {
  margin: 0 auto;
  width: 260px;

  @media (min-width: $width-tablet) {
    width: 668px;
  }

  @media (min-width: $width-desktop) {
    width: 1050px;
  }
}
